<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
  <head>
    {% block meta %}
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Support</title>
    <script src="https://kit.fontawesome.com/080e1625c6.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel = "stylesheet" type= "text/css" href="{% static 'css/customersupport.css' %}">

    {% endblock meta %}
</head>
<body>
  {% block content %}
  {% include './header.html' %}  

  <div class="hero">
    <div class="hero-content-wrapper">
      <div class="hero-content">
        <h1 style="font-weight: bold;"> Customer Support </h1>
        <p> Cari solusi atas masalahmu disini </p>
      </div>
      <div class="hero-img">
        <img src="{% static 'img/HeroImage.svg' %}">
      </div>
    </div>
  </div>


  <!-- <h1>Hello, world!</h1>
  <p><img src="{% static 'img/django-logo-negative.svg' %}"></p> -->
  <h4 class="sering-ditanya" style="margin-top: 100px; text-align: center; margin-bottom: 12px; font-weight: bold; font-family: 'Poppins', sans-serif;">
    Yang sering ditanyakan</h4>
  
  <div class="container-acordion" style="align-items: center;">

    <div class ="acordion">
      <div class="content-parent">
        <div class="judul-acordion"> Apakah Keaslian Barang Terjamin ? </div>
        <div class ="isi-acordion">
          <p>
            HomeMed menjaga keaslian dan kehigenisan produk yang dijual. Kami selalu melakukan pengecekan
            terhadap produk yang akan dikirim kepada konsumen.
          </p>
        </div>
      </div>

      <div class="content-parent">
        <div class="judul-acordion"> Apakah Bisa Refund Barang ? </div>
        <div class ="isi-acordion">
          <p>
            Untuk mengajukan refund barang, silahkan berikan bukti-bukti yang kuat apabil ada
            masalah pada produk kami yang bukan ditimbulkan oleh pembeli dan sertakan bukti tersebut
            pada chat customer support.
          </p>
        </div>
      </div>

      <div class="content-parent">
        <div class="judul-acordion"> Apakah HomeMed Dapat Menjadi Supplier Tetap Toko Kami ? </div>
        <div class ="isi-acordion">
          <p>
            Ya ! HomeMed dapat menjadi supplier untuk tokomu. Silahkan ajukan kerjasama dengan Kami
            melalui kerjasama@hommed.com.
          </p>
        </div>
      </div>
    </div>
    <script>
      const accordion = document.getElementsByClassName("content-parent");

      for(i = 0; i<accordion.length;i++){
        accordion[i].addEventListener('click', function(){
          this.classList.toggle('active')
        })
      }
    </script>
  </div>


  <div class="container-form" style="align-items: center; margin-top: 50px;">
    <h4 style="text-align: center; margin-bottom: 10px; font-family: 'Poppins', sans-serif; font-weight: bold">Dapatkan Informasi Mengenai Produk Kami</h4>
      <div class="form-input"> 
          <input class ="input-nama" type="text" name="nama" id ="nama" placeholder="Name">
          <input class ="input-email" type="text" name="email" id ="email" placeholder="Email">
          <div class="button-submit">
                <!-- <button type="button" class="btn btn-primary btn-lg btn-block" style="background-color: red;">Subscribe</button> -->
              <button class="btn btn-primary btn-lg btn-block" style="background-color: red; width: 100%;"> Subscribe</button>
            </div>
      </div>
  </div>




  <div class="chat-bar-collapsible">
    <button id="chat-button" type="button" class="collapsible" style="text-align: center;"> Chat </button>

    <div class="content">
        <div class="full-chat-block">
            <div class="outer-container">
                <div class="chat-container">
                    <div id="chatbox">
                        <h5 id="chat-timestamp"></h5>
                        <p id="botStarterMessage" class="botText"><span>Loading...</span></p>
                    </div>
                    <div class="chat-bar-input-block">
                        <div id="userInput">
                            <input id="textInput" class="input-box" type="text" name="msg"
                                placeholder="Tulis pesan . . .">
                            <p></p>
                        </div>

                        <div class="chat-bar-icons">
                            <i id="chat-icon" style="color: crimson;" class="fas fa-camera"
                                onclick="photoButton()"></i>
                            <i id="chat-icon" class="fas fa-chevron-circle-right"
                                onclick="sendButton()"></i>
                        </div>
                    </div>
                    <div id="chat-bar-bottom">
                      <p></p>
                    </div>
                </div>
            </div>

        </div>
      </div>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>



  <!-- <script src="{% static 'js/ajaxGET.js' %}"></script> -->
  
    
    <script type="text/javascript">
    $(document).ready(function() {
    // console.log( "ready!" );
      $(document).on('click', '.btn-block', function(e){
        // alert('tes');
      // $(document).on('submit','#myForm', function(e){
        // biar page ga ke reload
        
        e.preventDefault();
        var objek = $(this);
        var namaVar = $('.input-nama').val();
        var emailVar = $('.input-email').val();

        // alert(namaVar);
        // alert(emailVar);
        $.ajax({
          // type : 'POST',
          url:'/CustomerSupport/create/'+ namaVar+ '/' + emailVar,
          // beforeSend:function(){
          //   objek.attr('disabled',true);
          // },
          success:function(data){
            // $('h2').html(data);
            alert(namaVar + " dengan email " + emailVar+ " terdaftar")
            // alert(data.kirim);
            objek.attr('disabled',false);
          }

        });
      });
  });
    </script>

  {% if user.is_authenticated %}
  <script src="{% static 'js/chatBot.js' %}"></script>
  <script src="{% static 'js/botRespon.js' %}"></script>

  {% else %}
  <script src="{% static 'js/notLoginBot.js' %}"></script>
  <script src="{% static 'js/notLoginRespon.js' %}"></script>
  {% endif %}

  {% endblock content %}
</body>

</html>
