<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    
    <!-- Css sendiri -->
    {% load static %}
    
    <link rel="stylesheet" href="{% static 'css/company.css?version=1' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/background.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/highlight.css' %}" type="text/css">
    <link href="{% static 'css/bootstrap.min.css' %}" >  
    <script src="{% static 'js/bootstrap.min.js' %}"></script>  
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <script type="text/javascript">
    pageExecute.init();
    </script>
  </head>
  <body>
    {% include './header.html' %}
    <!-- Banner awal -->
    <div class="container-fluid banner">
        <div class="row">
            <h1 class="display-4 other-text">Helloo!!</h1>
            <h1 class="display-4 other-text">This is Our Side of Story</h1>
            <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>

    <!-- Penjelasan company -->
    <div class="container-fluid ">
        <div class="row company" data-aos="fade-up" data-aos-duration="2000">
            <div class="col-lg-6 ">
                <i class="fas fa-heart"></i>    
                <img id="div1" src="{% static 'output-onlinepngtools (2).png' %}" class="img-fluid" width="350px" height="350px">
            </div>
            <div class="col-lg-5 ">
                <div class="tulisan">
                    <h3>What is <br> <span>HomeMed</span></h3>
                    <div class="garis"></div>
                    <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat reprehenderit, unde ullam numquam officia saepe ipsum iusto ipsa, facere voluptas ab laudantium soluta enim nihil earum natus dolorem rerum. Pariatur.</p>
                </div>
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0cbcaa" fill-opacity="1" d="M0,224L30,218.7C60,213,120,203,180,176C240,149,300,107,360,90.7C420,75,480,85,540,117.3C600,149,660,203,720,192C780,181,840,107,900,90.7C960,75,1020,117,1080,128C1140,139,1200,117,1260,112C1320,107,1380,117,1410,122.7L1440,128L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path></svg>
    </div>
    <section class="kelompok">
        <div class="container-fluid isi">
            <div class="row justify-content-center">
                <div class="col-6">
                    <h1 class="text-center team">Meet Our Team</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-6 justify-content-center d-flex">
                    <div class="gambarr">
                        <img src="{% static 'SR09.jpeg' %}" class="figure-img img-fluid image">
                        <div class="middle">
                            <div class="text">User-generated Reviews
                            </div>
                        </div>
                        <h5>Aurora Putri Kumala Bakti</h5>
                    </div>
                    <div class="gambarr">
                        <img src="{% static 'SR11.jpg' %}" class="figure-img img-fluid image" style="width: 150px; ">
                        <div class="middle">
                            <div class="text">Product Information Management
                            </div>
                        </div>
                        <h5>Brasel Isnaen Fachturrahman</h5>
                    </div>
                    <div class="gambarr">
                        <img src="{% static 'SR30.jpg' %}" class="figure-img img-fluid image" style="margin-top: 0px ;">
                        <div class="middle">
                            <div class="text">Customer Support dan Interface
                            </div>
                        </div>
                        <h5>Muhammad Arya Adirianto</h5>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-6 justify-content-center d-flex">
                        <div class="gambarr">
                            <img src="{% static 'SR40.jpg' %}" class="figure-img img-fluid image">
                            <div class="middle">
                                <div class="text">Account Page
                                </div>
                            </div>
                            <h5>Nathasya Shalsabilla Putri</h5>
                        </div>
                    <div class="gambarr">
                        <img src="{% static 'GB21.jpg' %}" class="figure-img img-fluid image" style="width: 150px;">
                        <div class="middle">
                            <div class="text">Company Profile
                            </div>
                        </div>
                        <h5>Galan Gahara Triguna Toding</h5>
                    </div>
                    <div class="gambarr">
                        <img src="{% static 'S__25862292.jpg' %}" class="figure-img img-fluid image">
                        <div class="middle">
                            <div class="text">Landing Page
                            </div>
                        </div>
                        <h5>Dimitri Theofilus Wynardo N
                        </h5>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-6 justify-content-center d-flex">
                        <div class="gambarr">
                            <img src="{% static 'FILE-min.jpg' %}" class="figure-img img-fluid image" style="margin-left: 100px ; width: 145px;">
                            <div class="middle1">
                                <div class="text">Shopping Cart
                                </div>
                            </div>
                            <h5>Christopher Moses Nathanael
                            </h5>
                        </div>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0cbcaa" fill-opacity="1" d="M0,224L30,218.7C60,213,120,203,180,176C240,149,300,107,360,90.7C420,75,480,85,540,117.3C600,149,660,203,720,192C780,181,840,107,900,90.7C960,75,1020,117,1080,128C1140,139,1200,117,1260,112C1320,107,1380,117,1410,122.7L1440,128L1440,0L1410,0C1380,0,1320,0,1260,0C1200,0,1140,0,1080,0C1020,0,960,0,900,0C840,0,780,0,720,0C660,0,600,0,540,0C480,0,420,0,360,0C300,0,240,0,180,0C120,0,60,0,30,0L0,0Z"></path></svg>
        </div>
    </section>

    <section class="quotes">
        <div class="container-fluid isi2">
            <div class="row justify-content-center">
                <div class="col-lg-8" id="demo">
                    <h5 id="changeText">" Health is a state of complete  mental, social and physical well-being, <br> not merely the absence of disease or infirmity. "</h5>
                    <button class="btn btn-outline-success">Change quotes</button>
                </div>
            </div>
        </div>
    </section>

    <section class="counters">
        <div class="col">
            <h5>Rekapitulasi Angka <br> <span> HomeMed </span></h5>
            <div class="garis"></div>
        </div>
        <div class="container">
            <div>
                <div class="counter">590</div>
                <p>Penjualan</p>
            </div>
            <div>
                <div class="counter">3800</div>
                <p>Pengunjung</p>
            </div>
            <div>
                <div class="counter">23</div>
                <p>Partnership</p>
            </div>
        </div>
    </section>

    <section class="isiform">
        <div class="container-fluid " style="padding-bottom: 130px;">
            <div class="row contactus" data-aos="fade-up" data-aos-duration="2000">
                <div class="col-lg-6 ">
                    <i class="fas fa-heart"></i>    
                    <img id="div1" src="{% static 'output-onlinepngtools (3).png' %}" class="img-fluid" width="350px" height="350px">
                </div>
                <div class="col-lg-5 ">
                    <div class="tulisan1">
                        <h3 style="font-size: large;">Ingin bekerja sama? <br> <span>Contact Us</span></h3>
                        <div class="garis"></div>
                        <div class="mb-3" style="margin-top: 40px;">
                            <form action="" method="POST">
                                {% csrf_token %}
                                {{ form.as_p}}
                            <input type="submit" class="btn btn-success" value="submit" style="margin-top: 10px;">Submit</input>>                            
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="{% static 'js/counter.js' %}"> </script>
    <script src="{% static 'js/highlight.js' %}"> </script>
    <script> 
        var isiQuotes = false;
        $(document).ready(function(){
            $("button").click(function(){
                if ( isiQuotes == false){
                    $.ajax({url: "{% static 'ajax_info.txt' %}", success: function(result){
                        $("#changeText").html(result);
                        isiQuotes = true;
                  }});
                }
                else{
                    $.ajax({url: "{% static 'ajax_info2.txt' %}", success: function(result){
                        $("#changeText").html(result);
                        isiQuotes = false;
                  }});
                }
            });
        });
    </script>
  </body>
</html>