{% extends 'base.html' %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
    {% block meta %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'account.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>My Account</title>
    {% endblock meta %}
</head>
<body>
    {% block content %}
    {% include './header.html' %}
    <section class="Form my-4 mx-5">
        <div class="containerProfile">
            
                <div class="col-lg-7 px-5 pt-5 form_container">
                    <h1 id="font-weight-bold py-3">My Profile</h1>
                        
                        <div class="form-row">
                            <div class="col-lg">
                                <h6 class="form-control my-3" id="username"></h6>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-lg">
                                <h6 class="form-control my-3 " id="email"></h6>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-lg">
                                <h6 class="form-control my-3" id="address"></h6>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-lg">
                                <h6 class="form-control my-3" id="phone"></h6>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-lg">
                                <a class="btn btn1" class="btn1 mt-3 mb-5" target="__blank" href="/user/login">Logout</a>
                            </div>
                        </div>

                        
                <!-- </div>
        </div>
    </section> 

    <!- <table class="table">
        <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Phone Number</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="username"></td>
            <td id="email"></td>
            <td id="address"></td>
            <td id="phone"></td>
          </tr>
        </tbody>
      </table> -->

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{% static 'js/profile.js' %}"></script>
    {% endblock content %}
</body>
</html>