{% extends 'base.html' %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
    {% block meta %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'account.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world!</title>
    {% endblock meta %}
</head>
<body>
    {% block content %}
    <section class="Form my-4 mx-5">
        <div class="container">
            
                <div class="col-lg-7 px-5 pt-5 form_container">
                    <!-- <h1 id="username"></h1> -->
                        
                        <div class="form-row">
                            <div class="col-lg-7">
                                <h6 class="form-control my-3 p-3">Username</h6>
                                <div class="col-sm-9 text-secondary" id="username"></div>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="col-lg-7">
                                <h6 class="form-control my-3 p-3">Name</h6>
                                <div class="col-sm-9 text-secondary" id="name"></div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-lg-7">
                                <h6 class="form-control my-3 p-3">Email</h6>
                                <div class="col-sm-9 text-secondary" id="email"></div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-lg-7">
                                <h6 class="form-control my-3 p-3">Address</h6>
                                <div class="col-sm-9 text-secondary" id="address"></div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-lg-7">
                                <h6 class="form-control my-3 p-3">Phone</h6>
                                <div class="col-sm-9 text-secondary" id="phone"></div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-lg-7">
                                <a class="btn btn1" target="__blank" href="/edit">Edit</a>
                            </div>
                        </div>
                </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    {% endblock content %}
</body>
</html>