{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'register.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <title>Register</title>
</head>
<body>
    
    <section class="Form my-4 mx-5">
        <div class="container">

            <div class="clo-lg-5">
                <img src="{% static 'img/pharmacy_4x.jpeg' %}" class="img-fluid" alt="" style="width: 700px;">
            </div>
            <div class="col-lg-7 px-5 pt-5 form_container">
                
                <h1 id="font-weight-bold py-3">Register your account</h1>
                    <form method="POST" action="">
                        {% csrf_token %}

                        <div class="form-row">
                            <div class="col-lg-7 my-3 "></div>
                            {{form.username}}
                        </div>
    
                        <div class="form-row">
                            <div class="col-lg-7 my-3 "></div>
                            {{form.email}}
                        </div>

                        <div class="form-row">
                            <div class="col-lg-7 my-3 "></div>
                            {{form.address}}
                        </div>

                        <div class="form-row">
                            <div class="col-lg-7 my-3 "></div>
                            {{form.phone}}
                        </div>

                        <div class="form-row">
                            <div class="col-lg-7 my-3 "></div>
                            {{form.password1}}
                        </div>

                        <div class="form-row">
                            <div class="col-lg-7 my-3 "></div>
                            {{form.password2}}
                        </div>
                        
                        <div class="form-row">
                            <div class="col-lg">
                                <button type="submit" class="btn1 mt-3 mb-5">Register</button>
                            </div>
                        </div>
                            
                        <p>Already have an account? <a href="./login" class="ml-2">Login</a></p>

                        {{form.errors}}

                    </form>
            </div>
            
        </div>
    </section>

    <script>
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder='Username';
        form_fields[2].placeholder='Email';
        form_fields[3].placeholder='Address';
        form_fields[4].placeholder='Phone number';
        form_fields[5].placeholder='Enter password';
        form_fields[6].placeholder='Re-enter password';

        for (var field in form_fields){ 
            form_fields[field].className += ' form-control'
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>