*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #07BDAB !important;
}

.row{
    background: #07BDAB;
    border-radius: 30px;
}

.form_container {
    background-color: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    align-items: center;
}

.container {
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    margin-left: 2em;
}

.row{
    border-radius: 30px;
}

img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}

.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100% !important;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.btn1:hover{
    background-color: white;
    border: 1px solid;
    color: black;
}