<!DOCTYPE html>
{% block title %}
{% endblock title %}

{% load static %}


<html lang="en"></html>
<head>
    <meta charset="UTF-8" />
    <title>Review</title>
    <link href="{% static 'note_list.css' %}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>

<body>
    {% include './header.html' %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <section id="Detail">
        <div class="container item-container" style="background-color: white; padding-top: 20px">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-12 item-container">
                    <img src="{{product.image.url}}" style="width: 60%">
                </div>
                <div class="col-md-6 col-sm-6 col-12 item-container">
                    <h1>{{product.name}}</h1>
                    <br>
                    <h2 style="color: #04587c">Rp{{product.price}}</h2>
                    <br>
                    <h5>Spek:</h5>
                    <h6>{{product.specs}}</h6>
                    <br>
                    <h5>Deskripsi:</h5>
                    <h6>{{product.detail}}</h6>
                    <br>
                    {% if product.penjual.id != user.id %}
                    <br>
                    <div class="action-container" style="display: flex">
                        <input type="hidden" class="product-id" value="{{product.id_product}}">
                        <input type="hidden" class="product-name" value="{{product.name}}">
                        <button data-item = "{{product.id_product}}"type="button" class="keranjang-button" aria-disabled="false">
                            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0" class="cart-icon">
                                <g>
                                    <g>
                                        <polyline fill="none" points=".5 .5 2.7 .5 5.2 11 12.4 11 14.5 3.5 3.7 3.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
                                            
                                        </polyline>
                                        <circle cx="6" cy="13.5" r="1" stroke="none" fill="#ee4d2d"></circle>
                                        <circle cx="11.5" cy="13.5" r="1" stroke="none" fill="#ee4d2d">
                                            
                                        </circle>
                                    </g>
                                    <line fill="none" stroke-linecap="round" stroke-miterlimit="10" x1="7.5" x2="10.5" y1="7" y2="7"></line>
                                    <line fill="none" stroke-linecap="round" stroke-miterlimit="10" x1="9" x2="9" y1="8.5" y2="5.5">
                                    </line>
                                </g>
                            </svg>
                            <span>Masukkan Keranjang</span>
                        </button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    
    <section id="review">
        <div class="container reviewCont" id="productReview" style="background: #07e6b691">
            <div class="reviews">
                <h1> ____________</h1>
                <h3>Product Reviews</h3>
                <div class="card">
                    <div class="card-body review-list" style="max-height: 400px; overflow: auto;">
                        <!-- Detail -->
                        {% if review %}
                            {% for reviews in review %}
                            <blockquote class="blockquote text-right">
                              <h4>{{reviews.review_txt}}</h4>
                              <footer class="blockquote-footer">{{reviews.user}}
                              </footer>
                            </blockquote>
                            <hr />
                            {% endfor %}
                        {% else %}
                            <p class="no-data">Add First Review</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <br>
            {% if user.is_anonymous %}
                <p>You have to login for giving a review <br>
                    <a href="{% url 'authuser:login' %}">Clik here</a> to login!
                </p>
            {% else %}
            
            <div class="container-form" style="align-items: center; margin-top: 50px;">
                      <div class="form-input"> 
                      <div class="input-group input-group-lg">
                        <span class="input-group-text" id="inputGroup-sizing-lg">@</span>
                        <input class ="input-nama" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="Name">
                      </div>
                      <br>
                      <div class="input-group input-group-lg">
                        <span class="input-group-text" id="inputGroup-sizing-lg">!!</span>
                        <input class ="input-reviewtxt" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="Add some review!">
                      </div>
                      <br>
                      <div class="button-submit">
                          <button item = "{{product.id_product}}"  type="button" class="btn btn-outline-secondary sumbit-btn" style="background-color: rgb(128, 199, 195);"> . Sumbit . </button>
                        </div>
                  </div>
            {% endif %}
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
    
    //ULASAN
        
        $(document).ready(function() {
            $(document).on('click', '.keranjang-button', function(){
                var items=$(this).attr('data-item');
                alert(items)
                var objek=$(this);
                // Ajax
                $.ajax({
                    url:'/catalog/add-to-cart/'+items,
                    beforeSend:function(){
                        objek.attr('disabled',true);
                    },
                    success:function(res){
                        objek.attr('disabled',false);
                        alert("barang berhasil ditambahkan")
                    }
                });
            })
    
            $(document).on('click', '.sumbit-btn', function(){
                $('.sumbit-btn').click(function(e) {
                    e.preventDefault();
                    
                    var _inputNama = $('.input-nama').val();
                    var _inputReview = $('.input-reviewtxt').val();  
                    var items=$(this).attr('item');
                        $.ajax({
                            url: "/detailprod/addReview/"+items+"/"+_inputNama +"/"+_inputReview,
                            success: function(res) {
                                alert(_inputNama + " berhasil menambahkan review")
                                // Hide Button
                                $(".btn-block").hide();
                            },
                        });
                });
            });
        
        });
    
    
    
    </script>
</body>