<section class="shopping-cart dark">
    <div class="container">
       <div class="block-heading">
         <h2>Shopping Cart</h2>
         <p>items {{totalitems}}</p>
       </div>
       <div class="content">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="items">
                       {% for items in cart_data %}
                        <div class="product">
                            <div class="row">
                                <div class="col-md-3">
                                    <img class="img-fluid mx-auto d-block image" src="{{items.Barang.image.url}}">
                                </div>
                                <div class="col-md-8">
                                    <div class="info">
                                        <div class="row">
                                            <div class="col-md-5 product-name">
                                                <div class="product-name">
                                                    <a href="/catalog/product">{{items.Barang.name}}</a>
                                                </div>
                                            </div>
                                            <div class="col-md-4 quantity">
                                                <label for="quantity">Quantity:</label>
                                                <input id="quantity-{{items.Barang.id_product}}" type="number" value ="{{items.jumlah}}" class="form-control quantity-input">
                                               <button data-item="{{items.Barang.id_product}}" class="btn btn-sm btn-primary update-item"><i class="fa fa-sync"></i></button>
                                               <button class="btn btn-sm btn-danger delete-item" data-item="{{items.Barang.id_product}}"><i class="fa fa-trash"></i></button>
                                            </div>
                                            <div class="col-md-3 price">{% widthratio items.Barang.price 1 items.jumlah %}</span>
                                            </div>
                                                <span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       {% endfor %}
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="summary">
                        <h3>Summary</h3>
                        <div class="summary-item"><span class="text">Total </span><span class="price">Rp. {{harga}}</span></div>
                       
                        <button type="button" class="btn btn-primary btn-lg btn-block">Checkout</button>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>