.banner{
    height: 699px;
    width: 100%;
    background: url('health-topics-2.jpeg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
}
.banner h1{
    padding: 100px 0;
}

body{
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'Raleway',sans-serif;
    color: #fff;
}

.banner .display-4{
    color: white;
    text-align: center;
    margin-top: 200px;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.banner::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgb(12,188,170), rgb(0 , 0, 0, 0));
    position: absolute;
    bottom: 0;
    left: 0%;
}

.banner .row{
    z-index: 1;
    position: relative;
    height: 100%;
}

.company{
    margin-top: 120px;
}

p{
    color: black;
}
.company h3{
    color: black;
    font-weight: 100;
    margin-top: 30px;
}
.company h3 span{
    font-weight: 500;
    font-size: larger;
}

.company img{
    position: relative;
    animation: animasi 5s ease-in-out 2s infinite alternate;

}

.col-lg-6 img{
    position: relative;
    left: 200px;
}
.col-lg-5 .tulisan{
    position: relative;
    right: 50px;
}
@media screen and (max-width:991px){
    .col-lg-5 .tulisan{
        left: 10px;
    }
    .col-lg-6 img{
        left: 60px;
    }
}

@keyframes animasi{
    0% {top: 0px;}
    25% {top: 25px;}
    50% {top: -25px;}
    100% {top: 0px;}
}

.garis{
    border-top: 3px solid rgb(12,188,170);
    width: 50px;
    margin-bottom: 14px;
    margin-top: 14px;
}

svg{
    margin-right: -12px;
    margin-left: -12px;
}

.isi{
    width: 100%;
    height: 650px;
    background-color:  rgb(12,188,170);
    margin-bottom: 250px;
}

.isi h1{
    margin-top: -40px;
    font-size: 350%;
}

.isi svg{
    margin-top: -60px;
}

.kelompok img{
    width: 150px;
    border-radius: 20%;
}

.kelompok h1{
    margin-top: -50px;
    margin-bottom: 30px;
}

.kelompok h5{
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    margin-top: 10px;
    color: #fff;
    text-align: center;
}

.kelompok span{
    font-size: 12px;
    color: #acacac;
}

.kelompok figcaption{
    text-align: center;
}

.kelompok .gambarr{
    margin: 20px 45px 5px;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.middle1 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.gambarr:hover .image {
    opacity: 0.3;
}

.gambarr:hover .middle {
    opacity: 1;
}

.gambarr:hover .middle1 {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    padding: 16px 32px;
}

.gambarr{
    position: relative;
    width: 50%;

}

.isi2{
    height: 450px;
    background-color:  white;
    margin-bottom: -400px;
}

.tulisan1 span{
    color:  rgb(12,188,170);
}

.tulisan1 h3{
    color: black;
    font-weight: 100;
}

.isiform{
    height: 450px;
    background-color:  white;
    padding-top: 180px;
}

.isiform form{
    margin-top: -20px;
}

.isiform span{
    font-size: x-large;
    font-weight: 400;
}

.quotes h5{
    font-weight: 200;
    font-size: x-large;
}
.quotes{
    color: black;
    padding: 200px 0;
    font-style: italic;
    text-align: center;
    font-weight: 200;
    font-size: x-large;
}

.counters {
	color: black;
    padding-top: 40px;
    background-color:#f3f5f9;
    height: 400px;
}

.counters .container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
    text-align: center;
    padding-top: 12px;
}

.counters .counter {
	font-size: 45px;
	margin-top: 10px;
}

.counters p{
    font-size: large;
    font-weight: 100;
}

.counters .col{
    text-align: center;
}
.counters h5{
    margin-top: 40px; 
    font-weight: 100;
    font-size: x-large;
    padding-bottom: 10px;
}

.counters .garis{
    left: 48.2% ;
    position: relative;
}

.counters span{
    color:  rgb(12,188,170);
    font-size: xx-large;
    font-weight: 400;
}

@media (max-width: 700px) {
	.counters .container {
		grid-template-columns: repeat(1, 1fr);
	}

	.counters .container > div:nth-of-type(1),
	.counters .container > div:nth-of-type(2) {
		padding-bottom: 20px;
	}
}

.other-text{ position: absolute; }
.other-text:nth-child(1){ animation-name: fade1; animation-fill-mode: both; animation-duration: 5s; animation-direction: alternate-reverse;  }
.other-text:nth-child(2){animation-name: fade2;animation-fill-mode: both; animation-duration: 5s;animation-direction: alternate; animation-delay: 5s;}

@keyframes fade1{
    0%,100% {
      opacity: 0;
    }
    50%{
      opacity: 1;
    }
}

@keyframes fade2{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
}