.highlight {
	position: relative;
}

.highlight:before {
	position: absolute;
	content: '';
	z-index: -1;
	top: -2px;
	left: -5px;
	right: -5px;
	bottom: -2px;
	background-color: #7eec99;
	transform-origin: 0;
	transition: transform .8s ease;
	transform: scaleX(0);
}

.in-view .highlight:before {
	transform: scaleX(1);
}
