<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/catalogcss.css">
    <title>Catalog</title>
</head>
<body>
    {% include './header.html' %}
    <div class="containercard">
        {% for product in products %}
        <div class="productimage">
            {% if product.image %}
            <a href="/detailprod/{{product.id_product}}">
                <img class ="cardimage" src="{{ product.image.url }}" alt="">
            </a>
            {% endif %}
            <span class="productname">
                {{ product.name }}
            </span>
        </div>
        {%endfor%}
    </div>
</body>
</html>