/* body {
    margin: 0;
    font-family:sans-serif;
    min-height: 100vh;
} */

.containercard {
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin: 0 auto;
    padding: 1em;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 250px));
}

.productimage {
    padding: 2em;
    border-radius: 3em;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
}

.cardimage{
    max-width: 200px;
    height: 200px;
    object-fit: contain;
    object-position: center;
}

.productname{
    object-position: center;
}