p{
  font-size: 15px;
  margin-left: 30px;
}

.button-submit{
  color: black;
}

.reviewCont{
  border-radius: 30px;
}

.svg-icon{
  font-size: 10px;
  width: 10px;
  height: 10px;
  display: inline;
}


.keranjang-button {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    margin-right: 15px;
    min-width: 11.25rem;
    padding: 0 .75rem;
    font-size: 14px;
    color: #2deed4;
    background: rgba(255,87,34,.1);
    border: 1px solid #041663;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.03);
}

.keranjang-button span{
    color: #672dee !important;
}

svg.cart-icon {
    color: #672dee;
    stroke: #672dee;
    fill: #672dee;
    width: 1em;
    height: 1em;
}

.overlay{
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0,0, 0, 0.5);
display: flex;
align-items: center;
justify-content: center;
z-index: 1000;
}

.overlay-item{
width: 50%;
background-color: white;
text-align: center;
position: relative;
padding-top: 3%;
padding-bottom: 3%;
border-radius: 8px;
}

*{
  margin: 0;
  padding: 0;
}


div.card-nav{
  display: flex;
  justify-content: flex-end;
}

section{
  margin-top: 50px;
}

div.card{
  margin-bottom: 15px !important;
}

div a{
  text-decoration: none !important;
}

button.btn{
  margin-bottom: 10px !important;
}

.box {
position: relative;
background: #ffffff;
width: 100%;
}

.box-header {
color: #444;
display: block;
padding: 10px;
position: relative;
border-bottom: 1px solid #f4f4f4;
margin-bottom: 10px;
}

.box-tools {
position: absolute;
right: 10px;
top: 5px;
}

.dropzone-wrapper {
border: 2px dashed #91b0b3;
color: #92b0b3;
position: relative;
height: 150px;
}
.dropzone-desc {
position: absolute;
margin: 0 auto;
left: 0;
right: 0;
text-align: center;
width: 40%;
top: 50px;
font-size: 16px;
}
.dropzone,
.dropzone:focus {
position: absolute;
outline: none !important;
width: 100%;
height: 150px;
cursor: pointer;
opacity: 0;
}
.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
background: #ecf0f5;
}
