<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
    *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2{
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img{
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0
}
.btn{
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
}
.header{
  background: radial-gradient(#fff,#07E6BE );
}
.btn:hover{
  background: #563434;
}
</style>

</head>
<body>

    <div class="header">

        <div class="container">
          <div class="navbar"> 
            <nav>
             <ul id="MenuItems">
                <li><a href="">Home</a></li>
                <li><a href="">Products</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Customer Service</a></li>
                <li><a href="">Account</a></li>
                <li><a href=""><i class="fas fa-shopping-cart"></i></a></li>
              </ul>
            </nav>
              <i class="fas fa-bars" onclick="menutoggle()"></i>
        </div>
          <div class="row">
            <div class="col-2">
                <h1>Pusat Belanja Peralatan Medis Terbaik<br>Di Indonesia!</h1>
                <p>Kami menyediakan peralatan medis yang terbaru,<br> terbaik, dan sudah pasti steril!</p>
                </div>
            </div>
            <div class="col-2">
                <img src="{% static 'images/hd1.jpg' %}">
            </div>
          </div>
        </div>
      </div>
    
    
    
</body>
</html>
