*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: 'Poppins', sans-serif;
  }
  .navbar{
      display: flex;
      align-items: center;
      padding: 20px;
  }
  nav{
      flex: 1;
      text-align: right;
  }
  nav ul{
      display: inline-block;
      list-style-type: none;
  }
  nav ul li{
      display: inline-block;
      margin-right: 20px;
  }
  a{
      text-decoration: none;
      color: #555;
  }
  p{
      color: #555;
  }
  .container{
      max-width: 1300px;
      margin: auto;
      padding-left: 25px;
      padding-right: 25px;
  }
  .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .col-2{
    flex-basis: 50%;
    min-width: 300px;
  }
  .col-2 img{
    max-width: 100%;
    padding: 50px 0;
  }
  .col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0
  }
  .btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
  }
  .header{
    background: radial-gradient(#fff,#07E6BE );
  }
  .btn:hover{
    background: #563434;
  }
  .categories{
    margin: 70px 0;
  }
  .col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
  }
  .col-3 img{
    width: 100%;
  }
  .second-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  .col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
  }
  .col-4 img{
    width: 100%;
  }
  .title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
  }
  .title::after{
     content: '';
     background: #07E6BE;
     width: 80px;
     height: 5px;
     border-radius: 5px;
     position: absolute;
     bottom: 0;
     left: 50%;
     transform: translateX(-50%);
  }
  h4{
      color: #555;
      font-weight: normal;
  }
  .col-4 p{
    font-size: 14px;
  }
  .rating .fas{
    color: #07E6BE;
  }
  .col-4:hover{
    transform: translateY(-5px);
  }
/* Brands */
.brands{
  margin: 100px auto;
  }
  .col-5{
  width: 160px;
  }
  .col-5 img{
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%)
  }
  .col-5 img:hover{
  filter: grayscale(0);
  }
  
/* Footer */
.footer{
  background: #07E6BE;
  color: #8a8a8a;;
  font-size: 14px;
  padding: 30px 15px;
}
.footer p{
  color: #8a8a8a;
}
.footer h3{
  color: #fff;
  margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3{
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1{
  flex-basis: 30%;
}
.footer-col-2, .footer-col-3{
  flex-basis: 12%;
  text-align: center;
}
ul{
  list-style-type: none;
}
.app-logo{
  margin-top: 20px;
}
.app-logo img{
  width: 140px;
}
.footer hr{
  border: none;
  background: #000000;
  height: 1px;;
  margin: 20px 0;
}
.fas fa-bars{
  width: 28px;
  margin-left: 20px;
  display: none;
}
@media only screen and (max-width: 800px){
    nav ul{
      position: absolute;
      top: 70px;
      left: 0;
      background: #3700ff;
      width: 100%;
      transition: max-height 0.5;
    }
    nav ul li{
      display: block;
      margin-right: 50px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    nav ul li a{
      color: #000;
    }
    .fas fa-bars{
      display: block;
      cursor: pointer;
    }
}
  